# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

.env

backend/middleware/cloudinary-sample-master
backend/middleware/complete-ecommerce-react-node-main
backend/middleware/image-gallery-main
backend/middleware/mernstackproject-master
backend/middleware/node-restful-api-tutorial-09-image-upload
backend/middleware/Nodejs_Mongodb_Express_Multer-main
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
